@import '~/assets/styles/variables.sass'

button
  border: 1px solid red

body
  background: black

html, body, #__layout, #__nuxt, .main // Avoiding 100vh to better suit mobile browsers
  position: relative
  height: 100%

main
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-start
  min-height: 100%
  cursor: none

.header
  position: fixed
  top: 0
  right: 0
  z-index: 999

.cursor
  position: fixed
  width: 1.5em
  height: 1.5em
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  border-radius: 100px
  background: white
  pointer-events: none
  transition: width $transition-cursor, height $transition-cursor
  will-change: width, height
  z-index: 999
  mix-blend-mode: difference
  & .icon-Prev, & .icon-Next
    display: none
  &.cursor-Prev
    background: none
    width: auto
    .icon-Prev
      display: block
      height: 3.5em
  &.cursor-Next
    background: none
    width: auto
    height: auto
    .icon-Next
      display: block
      height: 3.5em
      transform: rotate(180deg)
  &.hovers-container
    width: 3.5em
    height: 3.5em
  @media ( hover: none )
    display: none

.hovered
  cursor: none

.close
  position: fixed
  display: flex
  top: 0
  right: 0
  padding: var(--spacing-one)
  padding-top: calc(#{var(--spacing-two)} + .75em)
  padding-right: var(--side-padding)
  z-index: 999
  line-height: 1.5
  mix-blend-mode: difference
  @media screen and ( max-width: $breakpoint-mobile)
    padding: var(--side-padding)
  @media screen and ( max-width: $breakpoint-tablet)
    display: none
  &-Icon
    display: inline
    height: 100%
    width: .7em
    margin-right: .7em
    @media screen and ( max-width: $breakpoint-mobile)
      display: none

.icon
  height: 1.5em
  width: 1.5em
  img, svg
    width: 100%
    height: 100%

.svg
  height: 100%
  width: auto
  svg
    height: 100%
    width: auto

.content
  position: relative
  margin-top: auto
  &-Page
    display: block
    margin-top: var(--top-padding)
    margin-bottom: var(--bottom-padding)
  &-Error
    margin-top: var(--top-padding)
    padding-left: var(--side-padding)
    padding-right: var(--side-padding)
    margin-bottom: var(--bottom-padding)
    h1
      text-align: justify
  &-Work
    margin-top: var(--top-padding)
    padding-left: var(--side-padding)
    padding-right: var(--side-padding)
    margin-bottom: var(--bottom-padding)
    li
      a
        width: 100%
      h1
        line-height: 1.5
        text-transform: lowercase
    &_Slash
      display: none
      @media screen and ( max-width: $breakpoint-mobile)
        display: inline
    &_Year
      display: inline !important
      @media screen and ( max-width: $breakpoint-mobile)
        display: none !important
    a
      display: inline-flex
      align-items: baseline
      text-decoration: none
      &:hover
        & ~ .image
          display: block
        @media ( hover: none )
          h2
            text-decoration: none
          & ~ .image
            display: none
    span
      @media screen and ( max-width: $breakpoint-mobile)
        display: inline
    .image
      position: fixed
      top: 0
      right: 0
      bottom: 0
      display: none
      z-index: -1
      @media screen and ( min-width: $breakpoint-mobile)
        width: 50vw
      img
        width: 100%
        height: 100%
        object-fit: cover
  &-Worksingle
    position: relative
    min-height: 100vh
    &_Text
      position: fixed
      top: 0
      left: 0
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
      padding-top: var(--top-padding)
      padding-left: var(--side-padding)
      padding-right: var(--side-padding)
      padding-bottom: var(--spacing-three)
      p
        max-width: 48em
        margin-top: var(--spacing-three)
        @media screen and ( max-width: $breakpoint-tablet)
          margin-top: 1em
      h1
        text-transform: lowercase
    &_Slider
      position: absolute
      width: 100%
      height: 100vh
      > div
        height: 100%
  &-About
    margin-top: var(--top-padding)
    padding-left: var(--side-padding)
    padding-right: var(--side-padding)
    margin-bottom: var(--bottom-padding)
    .blok
      h1
        padding-bottom: var(--spacing-one)
        margin-bottom: var(--spacing-one)
        border-bottom: var(--border-bottom)
        font-size: 1em
        line-height: 1.5
    .blok-one
      margin-bottom: var(--spacing-three)
    @media screen and ( max-width: $breakpoint-mobile)
      .blok-two
        p
          margin-bottom: var(--spacing-two)
    .blok-three
      p
        margin-bottom: var(--spacing-two)
    .second
      display: flex
      @media screen and ( max-width: $breakpoint-mobile)
        flex-direction: column
      > div
        flex-basis: 50%
        @media screen and ( max-width: $breakpoint-mobile)
          flex-basis: 100%
        &:first-child
          padding-right: var(--spacing-two)
          @media screen and ( max-width: $breakpoint-mobile)
            padding-right: 0
    &_Contactblok
      display: flex
  &-Synchronize
    margin-top: var(--top-padding)
    padding-left: var(--side-padding)
    padding-right: var(--side-padding)
    margin-bottom: var(--bottom-padding)
    ul
      display: flex
      flex-direction: column
      justify-content: flex-end
      li
        display: flex
        justify-content: flex-start
        align-items: flex-end
        @media screen and ( max-width: $breakpoint-tablet)
          flex-direction: column
          align-items: flex-start
        &:first-child
          margin-bottom: var(--spacing-two)
        p
          display: inline
          margin-left: .5em
          flex-shrink: 0
          @media screen and ( max-width: $breakpoint-mobile)
            margin-top: var(--spacing-one)
  &-Contact
    margin-top: var(--top-padding)
    margin-left: var(--side-padding)
    margin-right: var(--side-padding)
    margin-bottom: var(--bottom-padding)
    .markdown
      margin-bottom: var(--spacing-two)
      p
        max-width: 28em
    form
      input
        width: 100%
        line-height: 1.5
      input[type="text"]
        border-bottom: var(--border-bottom)
      .button-Send
        display: flex
        justify-content: flex-end
        align-items: center
        margin-top: var(--spacing-three)
        text-align: right
        input
          padding-right: .3em
          text-align: right
        &_Arrow
          width: auto
          flex-shrink: 0
          flex-grow: 1
          svg
            height: 100%
            width: 20vmin

.horizontal
  @media screen and (orientation: portrait)
    display: none
.vertical
  @media screen and (orientation: landscape)
    display: none
