@import '~/assets/styles/variables.sass'

body
  background: black

main
  display: flex
  flex-direction: column
  justify-content: flex-end
  min-height: 100vh
  padding-top: 40vh

.textBlock
  margin-left: var(--spacing-three)
  margin-right: var(--spacing-three)

header
  position: fixed
  left: 0
  top: 0
  right: 0
  display: flex
  justify-content: space-between
  align-items: flex-end
  margin-left: var(--spacing-three)
  margin-right: var(--spacing-three)
  padding-top: var(--spacing-two)
  padding-bottom: var(--spacing-one)
  border-bottom: 1px solid white
  transform: translate3d(0, -100%, 0)
  transition: 0.3s transform ease
  will-change: transform
  &.toggle
    transform: translate3d(0, 0, 0)
  &.close
    transform: translate3d(0, 0, 0)
  @media screen and ( max-width: $breakpoint-mobile)
    flex-direction: row-reverse
    align-items: center
    border-bottom: 0
    padding-bottom: 0
  nav
    ul
      li
        padding-right: 2em
        cursor: pointer
        display: inline-block
      li:last-child
        padding-right: 0
  .logo
    height: 2.2em

.svg
  height: 100%
  width: auto
  cursor: pointer
  svg
    height: 100%
    width: auto
.close
  position: fixed
  top: 0
  right: 0
  height: 1.5em
  width: 1.5em
  margin: var(--spacing-two)
  margin-top: var(--spacing-two)
  cursor: pointer
  z-index: 999

section
  margin-bottom: var(--spacing-two)

form
  input
    width: 100%
  input::placeholder
    color: white
  input[type="text"]
    border-bottom: 1px solid white
  .button-send
    display: flex
    justify-content: flex-end
    align-items: center
    margin-top: var(--spacing-three)
    height: calc(3.583em * 1.18) // Adds line-height
    @media screen and ( max-width: $breakpoint-mobile)
      justify-content: flex-start
    input
      display: inline
      cursor: pointer
      flex-shrink: 1
    input
      padding-right: var(--spacing-two)
    .arrow
      height: calc(100% / 1.18) // Removes line-height

.content
  &-page
    display: block
  &-work
    .list-projects_textual
      .text
        display: flex
        align-items: baseline
      h2
        margin-right: var(--spacing-two)
        display: inline
      h2, p
        cursor: pointer
      span
        @media screen and ( max-width: $breakpoint-mobile)
          display: inline

    .list-projects_images
      position: absolute
      top: 0
      right: 0
      width: 50vw
      overflow-y: auto
      z-index: -1
      li
        img
          max-width: 100%
          cursor: pointer
  &-worksingle
    min-height: 100vh
    .text-blok
      display: flex
      align-items: flex-end
      margin-bottom: var(--spacing-two)
      @media screen and ( max-width: $breakpoint-mobile)
        flex-direction: column-reverse
      p, h2
        flex-basis: 50%
        @media screen and ( max-width: $breakpoint-mobile)
          flex-basis: 100%
          width: 100%
      h2
        text-align: right
        @media screen and ( max-width: $breakpoint-mobile)
          text-align: left
          margin-bottom: var(--spacing-one)
    .slider-blok
      position: relative
      width: 100%
      height: 100vh
      .image-Slider
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        img, picture img, picture source
          object-fit: cover
          width: 100%
          height: 100%
      &.active
        position: fixed !important
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: black
  &-about
    .blok
      p
        margin-bottom: var(--spacing-two)
      h1
        padding-bottom: var(--spacing-one)
        margin-bottom: var(--spacing-one)
        border-bottom: 1px solid white
    .blok-one
      padding-bottom: var(--spacing-three)
    .second
      display: flex
      @media screen and ( max-width: $breakpoint-mobile)
        flex-direction: column
      > div
        // border: 1px solid green
        flex-basis: 50%
        @media screen and ( max-width: $breakpoint-mobile)
          flex-basis: 100%
        &:first-child
          margin-right: 1em
          @media screen and ( max-width: $breakpoint-mobile)
            margin-right: 0
        &:nth-child(2)
          margin-left: 1em
          @media screen and ( max-width: $breakpoint-mobile)
            margin-left: 0
  &-synchronize
    ul
      display: flex
      flex-direction: column
      justify-content: flex-end
      li
        // border: 1px solid blue
        display: flex
        justify-content: flex-start
        align-items: flex-end
        @media screen and ( max-width: $breakpoint-mobile)
          flex-direction: column
          align-items: flex-start
        &:first-child
          margin-bottom: var(--spacing-two)
        p
          display: inline
          margin-left: .5em
          flex-shrink: 0
          @media screen and ( max-width: $breakpoint-mobile)
            margin-top: var(--spacing-two)
  &-contact
    .markdown
      margin-bottom: var(--spacing-two)
      p
        max-width: 28em

// TODO Fix this (production doesnt render p, h1, h2 tags correctly)
.content
  &-page
    &-about,
    .markdown
      p h1, h2, h3
        font-size: 3.583em // Large text, home, contact and service pages
        line-height: 1.18
  // &-about
  //   .blok-one
  //     p, h1, h2, h3
  //       font-size: 2.074em // Medium text, about page
  //       line-height: 1.28
.dynamic-text
  p h1, h2, h3
    font-size: 3.583em // Large text, home, contact and service pages
    line-height: 1.18

.desktop
  display: block
  @media screen and ( max-width: $breakpoint-mobile)
    display: none
.mobile
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: block