// Nuxt default page transition
.page-enter-active, .page-leave-active
  transition: opacity .15s ease

.page-enter, .page-leave-to
  opacity: 0

  // Header mobile button transition
.headerMobileToggle-enter-active, .headerMobileToggle-leave-active
  transition: opacity .2s ease

.headerMobileToggle-enter, .headerMobileToggle-leave-to
  opacity: 0

    // Header mobile content transition
.headerMobileContent-enter-active, .headerMobileContent-leave-active
  transition: opacity .3s ease

.headerMobileContent-enter, .headerMobileContent-leave-to
  opacity: 0
