@import '~/assets/styles/variables.sass'

@font-face
  font-family: 'Sharp Grotesk Book'
  src: url('~assets/fonts/SharpGroteskTRIALBook20.woff2') format('woff2')
  font-weight: normal
  font-style: normal

body
  // https://css-tricks.com/snippets/css/fluid-typography/
  font-size: calc(18px + (20 - 18) * ((100vw - 800px) / (1400 - 800)))

// Type in minor third scale https://type-scale.com/
h1, h2, h3, p, a
  word-wrap: break-word
  overflow-wrap: break-word
  hyphens: auto

li, h1, h2, h3, p, a, a:link, a:visited, a:hover, a:active, span, input, time
  font-family: "Sharp Grotesk Book", Helvetica, Arial, sans-serif
  font-size: 1em
  line-height: 1.5
  font-style: normal
  font-weight: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: white

p, li // Small text
  font-size: 1em

// li, input
//   line-height: 1

h1, input, .dynamic-Text p, .dynamic-Text h1, .dynamic-Text h2, .dynamic-Text h3, .dynamic-Text h4 // Viewport sizing
  font-size: 8vw
  line-height: 9.5vw
  @media screen and ( max-width: $breakpoint-mobile)
    font-size: 11vw
    line-height: 12.5vw
h2
  font-size: 3.583em // Large text, home, about, contact and service pages
  line-height: 1.18
h3
  font-size: 2.074em // Medium text, about page
  line-height: 1.28
a
  color: black
  text-decoration: underline

header
  text-transform: lowercase
  line-height: 1

time // Extra large text, synchronize
  font-size: 12.839em
  line-height: .9em
  height: .8em
  @media screen and ( max-width: $breakpoint-mobile)
    font-size: 30vw

strong
  font-weight: bold

em
  font-style: italic

.ellipsis
  overflow: hidden
  min-width: 0
  text-overflow: ellipsis
  h1, h2, h3, p, a
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis