$breakpoint-mobile: 834px
$breakpoint-tablet: 1194px
$breakpoint-laptop: 1440px

body
  --top-padding: 25vmin
  --side-padding: 8vmin
  --bottom-padding: 8vmin
  --spacing-one: 2vmin
  --spacing-two: 4vmin
  --spacing-three: 8vmin
  --spacing-four: 16vmin
  @media screen and ( max-width: $breakpoint-tablet)
    --side-padding: 4vmin
  @media screen and ( max-width: $breakpoint-mobile)
    --top-padding: 25vmin
    --side-padding: 1em
    --bottom-padding: 1em
    --spacing-one: 1em
    --spacing-two: 2em
    --spacing-three: 3em
    --spacing-three: 4em