$breakpoint-mobile: 830px
$breakpoint-tablet: 1025px
$breakpoint-laptop: 1440px
$transition-cursor: .16s ease
$transition-desktop: .33s ease

body
  --top-padding: 25vmin
  --side-padding: 8vmin
  --bottom-padding: 8vmin
  --spacing-one: 2vmin
  --spacing-two: 4vmin
  --spacing-three: 8vmin
  --spacing-four: 16vmin
  --border-top: 1px solid white
  --border-bottom: 1px solid white
  @media screen and ( max-width: $breakpoint-tablet)
    --side-padding: 4vmin
    --border-top: 2px solid white
    --border-bottom: 2px solid white
  @media screen and ( max-width: $breakpoint-mobile)
    --top-padding: 25vmin
    --side-padding: 1em
    --bottom-padding: 2em
    --spacing-one: 1em
    --spacing-two: 2em
    --spacing-three: 3em
    --spacing-three: 4em

// Image srcset breakpoints:
// SIZES WORK LIST: 1668, 1440, 1280, 960, 800, 690
// SIZES CAROUSEL: 2880, 2560, 1920, 1668, 1366, 900
// WIDELY USED DESK: 2880/1440, 2560/1280, 1920/960, 1366/683
// WIDELY USED TABLET: 1668/834, 1280/640, 1024/512, 800/400
// WIDELY USED MOBILE: 900, 640,